:root {
    --red: #f9032f;
    --black: #000;
    --white: #fff;
}

.btn {
    padding: 1rem 3rem;
    border: none;
    background: var(--red);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background: var(--black);
}