@media screen and (max-width: 739px) {
    body.active {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .navbar__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar__menu {
        display: grid;
        /* giá trị tương ứng với 1cột = 1fr */
        grid-template-columns: 1fr;
        /* lặp lại 4 dòng mỗi dòng 100px */
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        /* đẩy nav lên trên */
        top: -1000px;
    }
    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--black);
    }
    /* .navbar__toggle {
        cursor: pointer;
    } */
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        display: block;
        cursor: pointer;
    }
    #mobile-menu {
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* Services section */
    .services__container {
        grid-template-columns: 1fr;
    }
    .services__infor {
        align-items: center;
    }
    /* Team section */
    .team__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .team__text:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .team__text:nth-child(2) {
        grid-row: 6/7;
        grid-column: 1/2;
    }
    .team__card:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .team__card:nth-child(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .team__card:nth-child(5) {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .team__card:nth-child(6) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    /* Form */
    .form__wrap {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    .form__wrap input {
        margin-bottom: 1rem;
        width: 100%;
        margin-right: 0;
    }
    .btn_email {
        width: 100%;
        min-width: 350px;
    }
    /* Footer */
    .footer__wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:1023px) {
    .memberships__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .memberships__card {
        width: 80%;
        margin-bottom: 2rem;
    }
}