* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: var(--black);
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar__logo {
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.navbar__link {
    color: var(--white);
    text-decoration: none;
    padding: 0 1rem;
}

.navbar__link:hover {
    color: var(--red);
}


/* Hero section */

.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../img/gym2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__content {
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;
}

.hero h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: clamp(1rem, 4vw, 3rem);
    margin-bottom: 3rem;
}

.hero .btn {
    padding: 1rem 3rem;
    border: none;
    background: var(--red);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background: var(--black);
}


/* Service section */